@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.DTOs.GeneralSettings
@model UpdateGeneralSettingDto
@{
	ViewData["Title"] = $@"{SharedLocalizer.GetString("Update")} {SharedEntitiesLocalizer.GetString("GeneralSetting")}";

}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">

        <li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="Home"
                                  asp-action="Index" 
                                   title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a></li>
<li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="GeneralSetting"
                                  asp-action="Index" 
                                   title="@SharedEntitiesLocalizer.GetString("GeneralSettings")">@SharedEntitiesLocalizer.GetString("GeneralSettings")</a></li>

        <li class="breadcrumb-item active">@SharedLocalizer.GetString("Update") @SharedEntitiesLocalizer.GetString("GeneralSetting")</li>
    </ol>   
</nav>
<form class="mb-9" method="post" 
                            asp-area="Admin" asp-controller="GeneralSetting" asp-action="Update"
                            enctype="multipart/form-data">

    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">@SharedLocalizer.GetString("Update") @SharedEntitiesLocalizer.GetString("GeneralSetting")</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                                <button class="btn btn-primary px-5 w-100 text-nowrap">@SharedLocalizer.GetString("Update") @SharedEntitiesLocalizer.GetString("GeneralSetting")</button>
            </div>
        </div>
    </div>
    <div class="row g-5">

                <input type="hidden" asp-for="@Model.Id" class=""
                       />
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input class="form-control Others-input"  asp-for="@Model.DefaultSolutionName"  placeholder="" />
        <label asp-for="@Model.DefaultSolutionName"></label>
    </div>
    <span asp-validation-for="@Model.DefaultSolutionName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input class="form-control Others-input"  asp-for="@Model.DefaultSolutionLocation"  placeholder="" />
        <label asp-for="@Model.DefaultSolutionLocation"></label>
    </div>
    <span asp-validation-for="@Model.DefaultSolutionLocation"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input class="form-control Others-input"  asp-for="@Model.DefaultReactJsSolutionName"  placeholder="" />
        <label asp-for="@Model.DefaultReactJsSolutionName"></label>
    </div>
    <span asp-validation-for="@Model.DefaultReactJsSolutionName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input class="form-control Others-input"  asp-for="@Model.DefaultReactSolutionLocation"  placeholder="" />
        <label asp-for="@Model.DefaultReactSolutionLocation"></label>
    </div>
    <span asp-validation-for="@Model.DefaultReactSolutionLocation"></span>
</div>

    </div>
</form>

@section Scripts
{
	<script src="/Shared/JqueryValidation.min.js"></script>
	<script>
		$(document).ready(function (e) {
			$('.GeneralSettingsManagement').addClass('active');
            $('.GeneralSettingsManagement').addClass('show');
		});
	</script>
}
