@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.DTOs.Languages
@using DevCopilot2.Domain.Enums.DataTypes
@using DevCopilot2.Domain.DTOs.Entities
@using DevCopilot2.Domain.DTOs.Properties
@using DevCopilot2.Domain.Enums.Relations
@model CreateEntityDto
@{
    ViewData["Title"] = $@"{SharedLocalizer.GetString("Create New")} {SharedEntitiesLocalizer.GetString("Entity")}";

    List<SelectListItem> entities = ViewData["Entities"] as List<SelectListItem>;

    List<SelectListItem> projects = ViewData["Projects"] as List<SelectListItem>;
    List<SelectListItem> projectEnums = ViewData["ProjectEnums"] as List<SelectListItem>;
    List<LanguageListDto> languagesList = ViewData["LanguagesList"] as List<LanguageListDto>;
    List<SelectListItem> languages = ViewData["Languages"] as List<SelectListItem>;
    List<SelectListItem> projectAreas = ViewData["ProjectAreas"] as List<SelectListItem>;
    CreatePropertyDto createProperty = new CreatePropertyDto();
    CreateEntitySelectedProjectAreaDto createEntitySelectedProjectArea = new CreateEntitySelectedProjectAreaDto();
    CreateEntitySelectedLanguageDto createEntitySelectedLanguage = new CreateEntitySelectedLanguageDto();
    CreateEntityRelationDto createEntityRelation = new CreateEntityRelationDto();
    CreatePropertyImageResizeInformationDto createPropertyImageResizeInformation = new CreatePropertyImageResizeInformationDto();
    CreatePropertySelectedLanguageDto createPropertySelectedLanguage = new CreatePropertySelectedLanguageDto();
    CreateEntitySelectedProjectAreaSelectedFilterDto createEntitySelectedProjectAreaSelectedFilter = new CreateEntitySelectedProjectAreaSelectedFilterDto();

}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">

        <li class="breadcrumb-item">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index"
               title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin"
               asp-controller="Entity"
               asp-action="Index"
               title="@SharedEntitiesLocalizer.GetString("Entities")">@SharedEntitiesLocalizer.GetString("Entities")</a>
        </li>

        <li class="breadcrumb-item active">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("Entity")</li>
    </ol>
</nav>
<form class="mb-9" method="post"
      asp-area="Admin" asp-controller="Entity" asp-action="Create"
      enctype="multipart/form-data">

    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("Entity")</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                <button class="btn btn-primary px-5 w-100 text-nowrap">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("Entity")</button>
            </div>
        </div>
    </div>
    <div class="row g-5">

        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input class="form-control Title-input" asp-for="@Model.SingularName" placeholder="" />
                <label asp-for="@Model.SingularName"></label>
            </div>
            <span asp-validation-for="@Model.SingularName"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input class="form-control Title-input" asp-for="@Model.PluralName" placeholder="" />
                <label asp-for="@Model.PluralName"></label>
            </div>
            <span asp-validation-for="@Model.PluralName"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input class="form-control Title-input" asp-for="@Model.FolderName" placeholder="" />
                <label asp-for="@Model.FolderName"></label>
            </div>
            <span asp-validation-for="@Model.FolderName"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <select class="form-select" asp-for="@Model.InheritedEntityId" asp-items="entities">
                </select>
                <label asp-for="@Model.InheritedEntityId"></label>
            </div>
            <span asp-validation-for="@Model.InheritedEntityId"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <select class="form-select" asp-for="@Model.IdType" name="IdType">

                    @foreach (IdTypeEnum idTypeEnum in (IdTypeEnum[])Enum.GetValues(typeof(IdTypeEnum)))
                    {
                        <option value="@idTypeEnum">@idTypeEnum.GetEnumName()</option>
                    }
                </select>
                <label asp-for="@Model.IdType"></label>
            </div>
            <span asp-validation-for="@Model.IdType"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input class="form-control Others-input" asp-for="@Model.ServiceName" placeholder="" />
                <label asp-for="@Model.ServiceName"></label>
            </div>
            <span asp-validation-for="@Model.ServiceName"></span>
        </div>
        <input type="hidden" asp-for="@Model.AuthorId" class="" />
        <div class="col-sm-12 col-md-6 d-none">
            <div class="form-floating">
                <select class="form-select" asp-for="@Model.ProjectId" asp-items="projects">
                </select>
                <label asp-for="@Model.ProjectId"></label>
            </div>
            <span asp-validation-for="@Model.ProjectId"></span>
        </div>
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input Others-input" asp-for="@Model.IsExcluded" type="checkbox" />
                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.IsExcluded"></label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input Title-input" asp-for="@Model.AddToMenu" type="checkbox" />
                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.AddToMenu"></label>
            </div>
        </div>

        <div class="sub-form-container" data-name="@("PropertiesList")">
            <h3>@SharedEntitiesLocalizer.GetString("Properties")</h3>
            @if (Model.PropertiesList is not null)
            {
                for (int property = 0; property < Model.PropertiesList.Count; property++)
                {

                    string propertyDataName = "PropertiesList" + "[" + property + "]";

                    <div class="single-sub-form row g-5" data-name="@("PropertiesList")">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Title-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="Name"
                                       asp-for="@Model.PropertiesList[property].Name" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].Name"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].Name"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <select class="form-select"
                                        data-name="PropertiesList"
                                        data-prefix="PropertiesList"
                                        data-suffix="DataType"
                                        asp-for="@Model.PropertiesList[property].DataType" name="DataType">

                                    @foreach (DataTypeEnum dataTypeEnum in (DataTypeEnum[])Enum.GetValues(typeof(DataTypeEnum)))
                                    {
                                        <option value="@dataTypeEnum">@dataTypeEnum.GetEnumName()</option>
                                    }
                                </select>
                                <label asp-for="@Model.PropertiesList[property].DataType"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].DataType"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="MaxLength"
                                       asp-for="@Model.PropertiesList[property].MaxLength" type="number" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].MaxLength"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].MaxLength"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="MinLength"
                                       asp-for="@Model.PropertiesList[property].MinLength" type="number" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].MinLength"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].MinLength"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="RangeFrom"
                                       asp-for="@Model.PropertiesList[property].RangeFrom" type="number" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].RangeFrom"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].RangeFrom"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="RangeTo"
                                       asp-for="@Model.PropertiesList[property].RangeTo" type="number" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].RangeTo"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].RangeTo"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <select class="form-select"
                                        data-name="PropertiesList"
                                        data-prefix="PropertiesList"
                                        data-suffix="ProjectEnumId"
                                        asp-for="@Model.PropertiesList[property].ProjectEnumId" asp-items="projectEnums">
                                </select>
                                <label asp-for="@Model.PropertiesList[property].ProjectEnumId"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].ProjectEnumId"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <select class="form-select"
                                        data-name="PropertiesList"
                                        data-prefix="PropertiesList"
                                        data-suffix="DataAnnotationDataType"
                                        asp-for="@Model.PropertiesList[property].DataAnnotationDataType" name="DataAnnotationDataType">

                                    @foreach (DataAnnotationsDataType dataAnnotationsDataType in (DataAnnotationsDataType[])Enum.GetValues(typeof(DataAnnotationsDataType)))
                                    {
                                        <option value="@dataAnnotationsDataType">@dataAnnotationsDataType.GetEnumName()</option>
                                    }
                                </select>
                                <label asp-for="@Model.PropertiesList[property].DataAnnotationDataType"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].DataAnnotationDataType"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="Order"
                                       asp-for="@Model.PropertiesList[property].Order" type="number" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].Order"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].Order"></span>
                        </div>
                        <input type="hidden" asp-for="@Model.PropertiesList[property].EntityId" class="sub-form-input"
                               data-name="PropertiesList"
                               data-prefix="PropertiesList"
                               data-suffix="EntityId"
                               data-value="1" />
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Others-input"
                                       data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="ForceMapperCode"
                                       asp-for="@Model.PropertiesList[property].ForceMapperCode" placeholder="" />
                                <label asp-for="@Model.PropertiesList[property].ForceMapperCode"></label>
                            </div>
                            <span asp-validation-for="@Model.PropertiesList[property].ForceMapperCode"></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="IsRequired"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].IsRequired" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].IsRequired"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="IsUnique"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].IsUnique" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].IsUnique"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="IsUpdatable"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].IsUpdatable" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].IsUpdatable"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="ShowInList"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].ShowInList" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].ShowInList"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="IsFilterContain"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].IsFilterContain" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].IsFilterContain"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="IsFilterEqual"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].IsFilterEqual" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].IsFilterEqual"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="UseEditor"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].UseEditor" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].UseEditor"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="PropertiesList"
                                       data-prefix="PropertiesList"
                                       data-suffix="ExcludeFromListDto"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.PropertiesList[property].ExcludeFromListDto" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.PropertiesList[property].ExcludeFromListDto"></label>
                            </div>
                        </div>

                        <div class="sub-form-container" data-name="@("PropertiesList" + "[" + property + "]" + "." + "EntityRelationsList")">
                            <h3>@SharedEntitiesLocalizer.GetString("EntityRelations")</h3>
                            @if (Model.PropertiesList[property].EntityRelationsList is not null)
                            {
                                for (int entityRelation = 0; entityRelation < Model.PropertiesList[property].EntityRelationsList.Count; entityRelation++)
                                {

                                    string entityRelationDataName = "PropertiesList" + "[" + property + "]" + "." + "EntityRelationsList" + "[" + entityRelation + "]";

                                    <div class="single-sub-form row g-5" data-name="@("PropertiesList" + "[" + property + "]" + "." + "EntityRelationsList")">
                                        <input type="hidden" asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].PrimaryPropertyId" class="sub-form-input"
                                               data-name="EntityRelationsList"
                                               data-prefix="EntityRelationsList"
                                               data-suffix="PrimaryPropertyId"
                                               data-value="1" />
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="EntityRelationsList"
                                                        data-prefix="EntityRelationsList"
                                                        data-suffix="SecondaryEntityId"
                                                        asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].SecondaryEntityId" asp-items="entities">
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].SecondaryEntityId"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].SecondaryEntityId"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="EntityRelationsList"
                                                        data-prefix="EntityRelationsList"
                                                        data-suffix="MiddleEntityId"
                                                        asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].MiddleEntityId" asp-items="entities">
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].MiddleEntityId"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].MiddleEntityId"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="EntityRelationsList"
                                                        data-prefix="EntityRelationsList"
                                                        data-suffix="RelationType"
                                                        asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].RelationType" name="RelationType">

                                                    @foreach (RelationTypeEnum relationTypeEnum in (RelationTypeEnum[])Enum.GetValues(typeof(RelationTypeEnum)))
                                                    {
                                                        <option value="@relationTypeEnum">@relationTypeEnum.GetEnumName()</option>
                                                    }
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].RelationType"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].RelationType"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="EntityRelationsList"
                                                        data-prefix="EntityRelationsList"
                                                        data-suffix="InputType"
                                                        asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].InputType" name="InputType">

                                                    @foreach (InputTypeEnum inputTypeEnum in (InputTypeEnum[])Enum.GetValues(typeof(InputTypeEnum)))
                                                    {
                                                        <option value="@inputTypeEnum">@inputTypeEnum.GetEnumName()</option>
                                                    }
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].InputType"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].InputType"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="EntityRelationsList"
                                                        data-prefix="EntityRelationsList"
                                                        data-suffix="FillingType"
                                                        asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingType" name="FillingType">

                                                    @foreach (FillingTypeEnum fillingTypeEnum in (FillingTypeEnum[])Enum.GetValues(typeof(FillingTypeEnum)))
                                                    {
                                                        <option value="@fillingTypeEnum">@fillingTypeEnum.GetEnumName()</option>
                                                    }
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingType"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingType"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control sub-form-input Title-input"
                                                       data-name="EntityRelationsList"
                                                       data-prefix="EntityRelationsList"
                                                       data-suffix="FillingCode"
                                                       asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingCode" placeholder="" />
                                                <label asp-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingCode"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].EntityRelationsList[entityRelation].FillingCode"></span>
                                        </div>

                                        <div class="buttons-container" data-name="@entityRelationDataName">

                                            <div class="d-flex justify-content-end mt-3">
                                                <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                                                   data-name="@("PropertiesList" + "[" + property + "]" + "." + "EntityRelationsList")"
                                                   onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("EntityRelation")</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>

                        <div class="sub-form-container" data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertyImageResizeInformationList")">
                            <h3>@SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</h3>
                            @if (Model.PropertiesList[property].PropertyImageResizeInformationList is not null)
                            {
                                for (int propertyImageResizeInformation = 0; propertyImageResizeInformation < Model.PropertiesList[property].PropertyImageResizeInformationList.Count; propertyImageResizeInformation++)
                                {

                                    string propertyImageResizeInformationDataName = "PropertiesList" + "[" + property + "]" + "." + "PropertyImageResizeInformationList" + "[" + propertyImageResizeInformation + "]";

                                    <div class="single-sub-form row g-5" data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertyImageResizeInformationList")">
                                        <input type="hidden" asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].PropertyId" class="sub-form-input"
                                               data-name="PropertyImageResizeInformationList"
                                               data-prefix="PropertyImageResizeInformationList"
                                               data-suffix="PropertyId"
                                               data-value="1" />
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control sub-form-input Title-input"
                                                       data-name="PropertyImageResizeInformationList"
                                                       data-prefix="PropertyImageResizeInformationList"
                                                       data-suffix="Name"
                                                       asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Name" placeholder="" />
                                                <label asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Name"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Name"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control sub-form-input Others-input"
                                                       data-name="PropertyImageResizeInformationList"
                                                       data-prefix="PropertyImageResizeInformationList"
                                                       data-suffix="Width"
                                                       asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Width" type="number" placeholder="" />
                                                <label asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Width"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Width"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control sub-form-input Others-input"
                                                       data-name="PropertyImageResizeInformationList"
                                                       data-prefix="PropertyImageResizeInformationList"
                                                       data-suffix="Height"
                                                       asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Height" type="number" placeholder="" />
                                                <label asp-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Height"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].PropertyImageResizeInformationList[propertyImageResizeInformation].Height"></span>
                                        </div>

                                        <div class="buttons-container" data-name="@propertyImageResizeInformationDataName">

                                            <div class="d-flex justify-content-end mt-3">
                                                <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                                                   data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertyImageResizeInformationList")"
                                                   onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>

                        <div class="sub-form-container" data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertySelectedLanguagesList")">
                            <h3>@SharedEntitiesLocalizer.GetString("PropertySelectedLanguages")</h3>
                            @if (Model.PropertiesList[property].PropertySelectedLanguagesList is not null)
                            {
                                for (int propertySelectedLanguage = 0; propertySelectedLanguage < languages.Count; propertySelectedLanguage++)
                                {
                                    var remainingLanguages = languages
                                    .Where(a => !Model.PropertiesList[property].PropertySelectedLanguagesList.Any(b => b.LanguageId == int.Parse(a.Value)))
                                    .ToList();
                                    foreach (var remainingLanguage in remainingLanguages)
                                    {
                                        Model.PropertiesList[property].PropertySelectedLanguagesList.Add(new CreatePropertySelectedLanguageDto()
                                {
                                    LanguageId = int.Parse(remainingLanguage.Value),
                                    PropertyId = 0
                                });
                                    }
                                    string propertySelectedLanguageDataName = "PropertiesList" + "[" + property + "]" + "." + "PropertySelectedLanguagesList" + "[" + propertySelectedLanguage + "]";

                                    <div class="single-sub-form row g-5" data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertySelectedLanguagesList")">
                                        <input type="hidden" asp-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].PropertyId" class="sub-form-input"
                                               data-name="PropertySelectedLanguagesList"
                                               data-prefix="PropertySelectedLanguagesList"
                                               data-suffix="PropertyId"
                                               data-value="1" />
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <select class="form-select"
                                                        data-name="PropertySelectedLanguagesList"
                                                        data-prefix="PropertySelectedLanguagesList"
                                                        data-suffix="LanguageId"
                                                        asp-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId" asp-items="languages">
                                                </select>
                                                <label asp-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId"></span>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control sub-form-input Title-input"
                                                       data-name="PropertySelectedLanguagesList"
                                                       data-prefix="PropertySelectedLanguagesList"
                                                       data-suffix="Title"
                                                       asp-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].Title" placeholder="" />
                                                <label asp-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].Title"></label>
                                            </div>
                                            <span asp-validation-for="@Model.PropertiesList[property].PropertySelectedLanguagesList[propertySelectedLanguage].Title"></span>
                                        </div>

                                        <div class="buttons-container" data-name="@propertySelectedLanguageDataName">
                                        </div>
                                    </div>

                                }
                            }
                        </div>

                        <div class="buttons-container" data-name="@propertyDataName">

                            <div class="d-flex justify-content-end mt-3">
                                <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
                                   onclick="AddSubItem('@("PropertiesList" + "[" + property + "]"+".EntityRelationsList")')"
                                   data-name="EntityRelationsList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("EntityRelation")</p>
                            </div>

                            <div class="d-flex justify-content-end mt-3">
                                <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
                                   onclick="AddSubItem('@("PropertiesList" + "[" + property + "]"+".PropertyImageResizeInformationList")')"
                                   data-name="PropertyImageResizeInformationList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</p>
                            </div>


                            <div class="d-flex justify-content-end mt-3">
                                <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                                   data-name="@("PropertiesList")"
                                   onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("Property")</p>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>

        <div class="d-flex justify-content-end mt-3">
            <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
               onclick="AddSubItem('PropertiesList')"
               data-name="PropertiesList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("Property")</p>
        </div>

        <div class="sub-form-container" data-name="@("EntitySelectedProjectAreasList")">
            <h3>@SharedEntitiesLocalizer.GetString("EntitySelectedProjectAreas")</h3>
            @if (Model.EntitySelectedProjectAreasList is not null)
            {
                for (int entitySelectedProjectArea = 0; entitySelectedProjectArea < Model.EntitySelectedProjectAreasList.Count; entitySelectedProjectArea++)
                {

                    string entitySelectedProjectAreaDataName = "EntitySelectedProjectAreasList" + "[" + entitySelectedProjectArea + "]";

                    <div class="single-sub-form row g-5" data-name="@("EntitySelectedProjectAreasList")">
                        <input type="hidden" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].EntityId" class="sub-form-input"
                               data-name="EntitySelectedProjectAreasList"
                               data-prefix="EntitySelectedProjectAreasList"
                               data-suffix="EntityId"
                               data-value="1" />
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <select class="form-select"
                                        data-name="EntitySelectedProjectAreasList"
                                        data-prefix="EntitySelectedProjectAreasList"
                                        data-suffix="ProjectAreaId"
                                        asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].ProjectAreaId" asp-items="projectAreas">
                                </select>
                                <label asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].ProjectAreaId"></label>
                            </div>
                            <span asp-validation-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].ProjectAreaId"></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasIndex"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasIndex" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasIndex"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasCreate"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasCreate" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasCreate"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasUpdate"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasUpdate" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasUpdate"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasDelete"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasDelete" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasDelete"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasApi"
                                       class="form-check-input sub-form-input Others-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasApi" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasApi"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input data-name="EntitySelectedProjectAreasList"
                                       data-prefix="EntitySelectedProjectAreasList"
                                       data-suffix="HasWeb"
                                       class="form-check-input sub-form-input Title-input" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasWeb" type="checkbox" />
                                <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@Model.EntitySelectedProjectAreasList[entitySelectedProjectArea].HasWeb"></label>
                            </div>
                        </div>

                        <div class="buttons-container" data-name="@entitySelectedProjectAreaDataName">

                            <div class="d-flex justify-content-end mt-3">
                                <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                                   data-name="@("EntitySelectedProjectAreasList")"
                                   onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("EntitySelectedProjectArea")</p>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>

        <div class="d-flex justify-content-end mt-3">
            <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
               onclick="AddSubItem('EntitySelectedProjectAreasList')"
               data-name="EntitySelectedProjectAreasList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("EntitySelectedProjectArea")</p>
        </div>

        <div class="sub-form-container" data-name="@("EntitySelectedLanguagesList")">
            <h3>@SharedEntitiesLocalizer.GetString("EntitySelectedLanguages")</h3>
            @if (Model.EntitySelectedLanguagesList is not null)
            {
                for (int entitySelectedLanguage = 0; entitySelectedLanguage < languages.Count; entitySelectedLanguage++)
                {

                    LanguageListDto currentLanguage = languagesList
                    .FirstOrDefault(a => a.Id == int.Parse(languages[entitySelectedLanguage].Value))!;
                    var remainingLanguages = languages
                    .Where(a => !Model.EntitySelectedLanguagesList.Any(b => b.LanguageId == int.Parse(a.Value)))
                    .ToList();
                    foreach (var remainingLanguage in remainingLanguages)
                    {
                        Model.EntitySelectedLanguagesList.Add(new CreateEntitySelectedLanguageDto()
                        {
                            LanguageId = int.Parse(remainingLanguage.Value),
                            EntityId = 0
                        });
                    }
                    string entitySelectedLanguageDataName = "EntitySelectedLanguagesList" + "[" + entitySelectedLanguage + "]";

                    <div class="single-sub-form row g-5" data-name="@("EntitySelectedLanguagesList")">
                        <input type="hidden" asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].EntityId" class="sub-form-input"
                               data-name="EntitySelectedLanguagesList"
                               data-prefix="EntitySelectedLanguagesList"
                               data-suffix="EntityId"
                               data-value="1" />
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <select class="form-select"
                                        data-name="EntitySelectedLanguagesList"
                                        data-prefix="EntitySelectedLanguagesList"
                                        data-suffix="LanguageId"
                                        asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].LanguageId" asp-items="languages">
                                </select>
                                <label asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].LanguageId"></label>
                            </div>
                            <span asp-validation-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].LanguageId"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Title-input"
                                       data-name="EntitySelectedLanguagesList"
                                       data-prefix="EntitySelectedLanguagesList"
                                       data-suffix="SingularTitle"
                                       data-plural-suffix="@currentLanguage.DefaultPluralSuffix"
                                       asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].SingularTitle" placeholder="" />
                                <label asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].SingularTitle"></label>
                            </div>
                            <span asp-validation-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].SingularTitle"></span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-floating">
                                <input class="form-control sub-form-input Title-input"
                                       data-name="EntitySelectedLanguagesList"
                                       data-prefix="EntitySelectedLanguagesList"
                                       data-suffix="PluralTitle"
                                       asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].PluralTitle" placeholder="" />
                                <label asp-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].PluralTitle"></label>
                            </div>
                            <span asp-validation-for="@Model.EntitySelectedLanguagesList[entitySelectedLanguage].PluralTitle"></span>
                        </div>

                        <div class="buttons-container" data-name="@entitySelectedLanguageDataName">
                        </div>
                    </div>

                }
            }
        </div>


        <div class="sub-form-template d-none add-default-sub-form"
             data-name="PropertiesList"
             data-form-name="PropertiesList"
             data-title="@SharedEntitiesLocalizer.GetString("Properties")"
             data-replace-from="createProperty"
             data-replace-to="PropertiesList[0]"
             data-child-20235="PropertiesList[0].EntityRelationsList"
             data-child-20236="PropertiesList[0].PropertyImageResizeInformationList">
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Title-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="Name"
                           asp-for="@createProperty.Name" placeholder="" />
                    <label asp-for="@createProperty.Name"></label>
                </div>
                <span asp-validation-for="@createProperty.Name"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="PropertiesList"
                            data-prefix="PropertiesList"
                            data-suffix="DataType"
                            asp-for="@createProperty.DataType" name="DataType">

                        @foreach (DataTypeEnum dataTypeEnum in (DataTypeEnum[])Enum.GetValues(typeof(DataTypeEnum)))
                        {
                            <option value="@dataTypeEnum">@dataTypeEnum.GetEnumName()</option>
                        }
                    </select>
                    <label asp-for="@createProperty.DataType"></label>
                </div>
                <span asp-validation-for="@createProperty.DataType"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="MaxLength"
                           asp-for="@createProperty.MaxLength" type="number" placeholder="" />
                    <label asp-for="@createProperty.MaxLength"></label>
                </div>
                <span asp-validation-for="@createProperty.MaxLength"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="MinLength"
                           asp-for="@createProperty.MinLength" type="number" placeholder="" />
                    <label asp-for="@createProperty.MinLength"></label>
                </div>
                <span asp-validation-for="@createProperty.MinLength"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="RangeFrom"
                           asp-for="@createProperty.RangeFrom" type="number" placeholder="" />
                    <label asp-for="@createProperty.RangeFrom"></label>
                </div>
                <span asp-validation-for="@createProperty.RangeFrom"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="RangeTo"
                           asp-for="@createProperty.RangeTo" type="number" placeholder="" />
                    <label asp-for="@createProperty.RangeTo"></label>
                </div>
                <span asp-validation-for="@createProperty.RangeTo"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="PropertiesList"
                            data-prefix="PropertiesList"
                            data-suffix="ProjectEnumId"
                            asp-for="@createProperty.ProjectEnumId" asp-items="projectEnums">
                    </select>
                    <label asp-for="@createProperty.ProjectEnumId"></label>
                </div>
                <span asp-validation-for="@createProperty.ProjectEnumId"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="PropertiesList"
                            data-prefix="PropertiesList"
                            data-suffix="DataAnnotationDataType"
                            asp-for="@createProperty.DataAnnotationDataType" name="DataAnnotationDataType">

                        @foreach (DataAnnotationsDataType dataAnnotationsDataType in (DataAnnotationsDataType[])Enum.GetValues(typeof(DataAnnotationsDataType)))
                        {
                            <option value="@dataAnnotationsDataType">@dataAnnotationsDataType.GetEnumName()</option>
                        }
                    </select>
                    <label asp-for="@createProperty.DataAnnotationDataType"></label>
                </div>
                <span asp-validation-for="@createProperty.DataAnnotationDataType"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="Order"
                           asp-for="@createProperty.Order" type="number" placeholder="" />
                    <label asp-for="@createProperty.Order"></label>
                </div>
                <span asp-validation-for="@createProperty.Order"></span>
            </div>
            <input type="hidden" asp-for="@createProperty.EntityId" class="sub-form-input"
                   data-name="PropertiesList"
                   data-prefix="PropertiesList"
                   data-suffix="EntityId"
                   value="0" />
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="ForceMapperCode"
                           asp-for="@createProperty.ForceMapperCode" placeholder="" />
                    <label asp-for="@createProperty.ForceMapperCode"></label>
                </div>
                <span asp-validation-for="@createProperty.ForceMapperCode"></span>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="IsRequired"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.IsRequired" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.IsRequired"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="IsUnique"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.IsUnique" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.IsUnique"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="IsUpdatable"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.IsUpdatable" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.IsUpdatable"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="ShowInList"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.ShowInList" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.ShowInList"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="IsFilterContain"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.IsFilterContain" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.IsFilterContain"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="IsFilterEqual"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.IsFilterEqual" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.IsFilterEqual"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="UseEditor"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.UseEditor" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.UseEditor"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="PropertiesList"
                           data-prefix="PropertiesList"
                           data-suffix="ExcludeFromListDto"
                           class="form-check-input sub-form-input Others-input" asp-for="@createProperty.ExcludeFromListDto" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createProperty.ExcludeFromListDto"></label>
                </div>
            </div>
            @for (int propertySelectedLanguage = 0; propertySelectedLanguage < languages.Count; propertySelectedLanguage++)
            {
                createProperty = new CreatePropertyDto();
                int property = 0;

                for (int i = 0; i < languages.Count; i++)
                {
                    createProperty.PropertySelectedLanguagesList.Add(new CreatePropertySelectedLanguageDto()
                    {
                        LanguageId = int.Parse(languages[i].Value),
                    });
                }
                string propertySelectedLanguageDataName = "PropertiesList" + "[" + property + "]" + "." + "PropertySelectedLanguagesList" + "[" + propertySelectedLanguage + "]";

                <div class="single-sub-form row g-5" data-name="@("PropertiesList" + "[" + property + "]" + "." + "PropertySelectedLanguagesList")">
                    <input type="hidden" asp-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].PropertyId" class="sub-form-input"
                           data-name="PropertySelectedLanguagesList"
                           data-prefix="PropertySelectedLanguagesList"
                           data-suffix="PropertyId"
                           data-value="1" />
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select class="form-select"
                                    data-name="PropertySelectedLanguagesList"
                                    data-prefix="PropertySelectedLanguagesList"
                                    data-suffix="LanguageId"
                                    asp-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId" asp-items="languages">
                            </select>
                            <label asp-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId"></label>
                        </div>
                        <span asp-validation-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageId"></span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <input class="form-control sub-form-input Title-input"
                                   data-name="PropertySelectedLanguagesList"
                                   data-prefix="PropertySelectedLanguagesList"
                                   data-suffix="Title"
                                   asp-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].Title" placeholder="" />
                            <label asp-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].Title"></label>
                        </div>
                        <span asp-validation-for="@createProperty.PropertySelectedLanguagesList[propertySelectedLanguage].Title"></span>
                    </div>

                    <div class="buttons-container" data-name="@propertySelectedLanguageDataName">
                    </div>
                </div>

            }

            <div class="buttons-container is-template" data-name="PropertiesList[0]">

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
                       onclick="AddSubItem('@($"PropertiesList[0].EntityRelationsList")')"
                       data-name="EntityRelationsList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("EntityRelation")</p>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
                       onclick="AddSubItem('@($"PropertiesList[0].PropertyImageResizeInformationList")')"
                       data-name="PropertyImageResizeInformationList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</p>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                       data-name="PropertiesList"
                       onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("Property")</p>
                </div>
            </div>
        </div>

        <div class="sub-form-template d-none"
             data-name="PropertiesList[0].EntityRelationsList"
             data-form-name="EntityRelationsList"
             data-title="@SharedEntitiesLocalizer.GetString("EntityRelations")"
             data-replace-from="createEntityRelation"
             data-replace-to="PropertiesList[0].EntityRelationsList[0]">
            <input type="hidden" asp-for="@createEntityRelation.PrimaryPropertyId" class="sub-form-input"
                   data-name="EntityRelationsList"
                   data-prefix="EntityRelationsList"
                   data-suffix="PrimaryPropertyId"
                   value="0" />
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntityRelationsList"
                            data-prefix="EntityRelationsList"
                            data-suffix="SecondaryEntityId"
                            asp-for="@createEntityRelation.SecondaryEntityId" asp-items="entities">
                    </select>
                    <label asp-for="@createEntityRelation.SecondaryEntityId"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.SecondaryEntityId"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntityRelationsList"
                            data-prefix="EntityRelationsList"
                            data-suffix="MiddleEntityId"
                            asp-for="@createEntityRelation.MiddleEntityId" asp-items="entities">
                    </select>
                    <label asp-for="@createEntityRelation.MiddleEntityId"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.MiddleEntityId"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntityRelationsList"
                            data-prefix="EntityRelationsList"
                            data-suffix="RelationType"
                            asp-for="@createEntityRelation.RelationType" name="RelationType">

                        @foreach (RelationTypeEnum relationTypeEnum in (RelationTypeEnum[])Enum.GetValues(typeof(RelationTypeEnum)))
                        {
                            <option value="@relationTypeEnum">@relationTypeEnum.GetEnumName()</option>
                        }
                    </select>
                    <label asp-for="@createEntityRelation.RelationType"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.RelationType"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntityRelationsList"
                            data-prefix="EntityRelationsList"
                            data-suffix="InputType"
                            asp-for="@createEntityRelation.InputType" name="InputType">

                        @foreach (InputTypeEnum inputTypeEnum in (InputTypeEnum[])Enum.GetValues(typeof(InputTypeEnum)))
                        {
                            <option value="@inputTypeEnum">@inputTypeEnum.GetEnumName()</option>
                        }
                    </select>
                    <label asp-for="@createEntityRelation.InputType"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.InputType"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntityRelationsList"
                            data-prefix="EntityRelationsList"
                            data-suffix="FillingType"
                            asp-for="@createEntityRelation.FillingType" name="FillingType">

                        @foreach (FillingTypeEnum fillingTypeEnum in (FillingTypeEnum[])Enum.GetValues(typeof(FillingTypeEnum)))
                        {
                            <option value="@fillingTypeEnum">@fillingTypeEnum.GetEnumName()</option>
                        }
                    </select>
                    <label asp-for="@createEntityRelation.FillingType"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.FillingType"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Title-input"
                           data-name="EntityRelationsList"
                           data-prefix="EntityRelationsList"
                           data-suffix="FillingCode"
                           asp-for="@createEntityRelation.FillingCode" placeholder="" />
                    <label asp-for="@createEntityRelation.FillingCode"></label>
                </div>
                <span asp-validation-for="@createEntityRelation.FillingCode"></span>
            </div>
            <div class="buttons-container is-template" data-name="PropertiesList[0].EntityRelationsList[0]">

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                       data-name="PropertiesList[0].EntityRelationsList"
                       onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("EntityRelation")</p>
                </div>
            </div>
        </div>

        <div class="sub-form-template d-none"
             data-name="PropertiesList[0].PropertyImageResizeInformationList"
             data-form-name="PropertyImageResizeInformationList"
             data-title="@SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")"
             data-replace-from="createPropertyImageResizeInformation"
             data-replace-to="PropertiesList[0].PropertyImageResizeInformationList[0]">
            <input type="hidden" asp-for="@createPropertyImageResizeInformation.PropertyId" class="sub-form-input"
                   data-name="PropertyImageResizeInformationList"
                   data-prefix="PropertyImageResizeInformationList"
                   data-suffix="PropertyId"
                   value="0" />
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Title-input"
                           data-name="PropertyImageResizeInformationList"
                           data-prefix="PropertyImageResizeInformationList"
                           data-suffix="Name"
                           asp-for="@createPropertyImageResizeInformation.Name" placeholder="" />
                    <label asp-for="@createPropertyImageResizeInformation.Name"></label>
                </div>
                <span asp-validation-for="@createPropertyImageResizeInformation.Name"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertyImageResizeInformationList"
                           data-prefix="PropertyImageResizeInformationList"
                           data-suffix="Width"
                           asp-for="@createPropertyImageResizeInformation.Width" type="number" placeholder="" />
                    <label asp-for="@createPropertyImageResizeInformation.Width"></label>
                </div>
                <span asp-validation-for="@createPropertyImageResizeInformation.Width"></span>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <input class="form-control sub-form-input Others-input"
                           data-name="PropertyImageResizeInformationList"
                           data-prefix="PropertyImageResizeInformationList"
                           data-suffix="Height"
                           asp-for="@createPropertyImageResizeInformation.Height" type="number" placeholder="" />
                    <label asp-for="@createPropertyImageResizeInformation.Height"></label>
                </div>
                <span asp-validation-for="@createPropertyImageResizeInformation.Height"></span>
            </div>
            <div class="buttons-container is-template" data-name="PropertiesList[0].PropertyImageResizeInformationList[0]">

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                       data-name="PropertiesList[0].PropertyImageResizeInformationList"
                       onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</p>
                </div>
            </div>
        </div>

        <div class="sub-form-template d-none add-default-sub-form"
             data-name="EntitySelectedProjectAreasList"
             data-form-name="EntitySelectedProjectAreasList"
             data-title="@SharedEntitiesLocalizer.GetString("EntitySelectedProjectAreas")"
             data-replace-from="createEntitySelectedProjectArea"
             data-replace-to="EntitySelectedProjectAreasList[0]"
             data-child-20238="EntitySelectedProjectAreasList[0].EntitySelectedProjectAreaSelectedFiltersList">
            <input type="hidden" asp-for="@createEntitySelectedProjectArea.EntityId" class="sub-form-input"
                   data-name="EntitySelectedProjectAreasList"
                   data-prefix="EntitySelectedProjectAreasList"
                   data-suffix="EntityId"
                   value="0" />
            <div class="col-sm-12 col-md-6">
                <div class="form-floating">
                    <select class="form-select"
                            data-name="EntitySelectedProjectAreasList"
                            data-prefix="EntitySelectedProjectAreasList"
                            data-suffix="ProjectAreaId"
                            asp-for="@createEntitySelectedProjectArea.ProjectAreaId" asp-items="projectAreas">
                    </select>
                    <label asp-for="@createEntitySelectedProjectArea.ProjectAreaId"></label>
                </div>
                <span asp-validation-for="@createEntitySelectedProjectArea.ProjectAreaId"></span>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasIndex"
                           class="form-check-input sub-form-input Others-input" asp-for="@createEntitySelectedProjectArea.HasIndex" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasIndex"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasCreate"
                           class="form-check-input sub-form-input Others-input" asp-for="@createEntitySelectedProjectArea.HasCreate" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasCreate"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasUpdate"
                           class="form-check-input sub-form-input Others-input" asp-for="@createEntitySelectedProjectArea.HasUpdate" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasUpdate"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasDelete"
                           class="form-check-input sub-form-input Others-input" asp-for="@createEntitySelectedProjectArea.HasDelete" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasDelete"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasApi"
                           class="form-check-input sub-form-input Others-input" asp-for="@createEntitySelectedProjectArea.HasApi" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasApi"></label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input data-name="EntitySelectedProjectAreasList"
                           data-prefix="EntitySelectedProjectAreasList"
                           data-suffix="HasWeb"
                           class="form-check-input sub-form-input Title-input" asp-for="@createEntitySelectedProjectArea.HasWeb" type="checkbox" />
                    <label class="form-check-label fw-bold fs-8 mb-5" asp-for="@createEntitySelectedProjectArea.HasWeb"></label>
                </div>
            </div>
            <div class="buttons-container is-template" data-name="EntitySelectedProjectAreasList[0]">

                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-success next-btn mb-0 add-sub-item-btn"
                       onclick="AddSubItem('@($"EntitySelectedProjectAreasList[0].EntitySelectedProjectAreaSelectedFiltersList")')"
                       data-name="EntitySelectedProjectAreaSelectedFiltersList">@SharedLocalizer.GetString("Add") @SharedEntitiesLocalizer.GetString("EntitySelectedProjectAreaSelectedFilter")</p>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <p class="btn btn-danger next-btn mb-0 remove-sub-item-btn"
                       data-name="EntitySelectedProjectAreasList"
                       onclick="RemoveSubItem(this)">@SharedLocalizer.GetString("Delete") @SharedEntitiesLocalizer.GetString("EntitySelectedProjectArea")</p>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts
{
    <script src="/Shared/JqueryValidation.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $('.EntitiesManagement').addClass('active');
            $('.EntitiesManagement').addClass('show');
        });
    </script>
}
