@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.Enums.DataTypes
@using DevCopilot2.Domain.DTOs.Properties
@using DevCopilot2.Domain.Enums.Relations
@using DevCopilot2.Domain.DTOs.Entities
@model PropertyListDto
@{
	ViewData["Title"] = $"{SharedEntitiesLocalizer.GetString("Property")} {SharedLocalizer.GetString("Detail")}";
    List<SelectListItem> projectEnums = ViewData["ProjectEnums"] as List<SelectListItem>;
List<SelectListItem> entities = ViewData["Entities"] as List<SelectListItem>;
List<SelectListItem> languages = ViewData["Languages"] as List<SelectListItem>;
    CreateEntityRelationDto createEntityRelation = new CreateEntityRelationDto();
CreatePropertyImageResizeInformationDto createPropertyImageResizeInformation = new CreatePropertyImageResizeInformationDto();
CreatePropertySelectedLanguageDto createPropertySelectedLanguage = new CreatePropertySelectedLanguageDto();
}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">

        <li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="Home"
                                  asp-action="Index" 
                                   title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a></li>
<li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="Property"
                                  asp-action="Index" 

                                asp-route-entityIdId="@Model.EntityId" title="@SharedEntitiesLocalizer.GetString("Properties")">@SharedEntitiesLocalizer.GetString("Properties")</a></li>

        <li class="breadcrumb-item active">@SharedEntitiesLocalizer.GetString("Property") @SharedLocalizer.GetString("Detail")</li>
    </ol>   
</nav>
<form class="mb-9" method="post" >

    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">@SharedEntitiesLocalizer.GetString("Property") @SharedLocalizer.GetString("Detail")</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                <a class="btn btn-primary px-5 w-100 text-nowrap" asp-area="Admin"
                                  asp-controller="Property"
                                  asp-action="Index" 
                                asp-route-entityIdId="@Model.EntityId">@SharedLocalizer.GetString("Close")</a>
            </div>
        </div>
    </div>
    <div class="row g-5">

                <div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control Hidden-input"  asp-for="@Model.Id"  placeholder="" />
        <label asp-for="@Model.Id"></label>
    </div>
    <span asp-validation-for="@Model.Id"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <select disabled class="form-select"  asp-for="@Model.ProjectEnumEnglishName"  asp-items="projectEnums" >

        </select>
        <label asp-for="@Model.ProjectEnumEnglishName"></label>
    </div>
    <span asp-validation-for="@Model.ProjectEnumEnglishName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control Others-input"  asp-for="@Model.EntityPluralName"  placeholder="" />
        <label asp-for="@Model.EntityPluralName"></label>
    </div>
    <span asp-validation-for="@Model.EntityPluralName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control Others-input"  asp-for="@Model.AuthorPhoneNumber"  placeholder="" />
        <label asp-for="@Model.AuthorPhoneNumber"></label>
    </div>
    <span asp-validation-for="@Model.AuthorPhoneNumber"></span>
</div>

                                 <div class="sub-form-container" data-name="@("EntityRelationsList")">
                                 <h3>@SharedEntitiesLocalizer.GetString("EntityRelations")</h3>
                                     @if (Model.EntityRelationsList is not null)
                                     {
                                         for (int entityRelation = 0; entityRelation < Model.EntityRelationsList.Count; entityRelation++)
                                         {

                                                string entityRelationDataName = "EntityRelationsList" + "[" + entityRelation + "]";

                                         <div class="single-sub-form row g-5" data-name="@("EntityRelationsList")">
                                                 <div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="EntityRelationsList"
               data-prefix="EntityRelationsList"
               data-suffix="Id"
                 asp-for="@Model.EntityRelationsList[entityRelation].Id"  placeholder="" />
        <label asp-for="@Model.EntityRelationsList[entityRelation].Id"></label>
    </div>
    <span asp-validation-for="@Model.EntityRelationsList[entityRelation].Id"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="EntityRelationsList"
               data-prefix="EntityRelationsList"
               data-suffix="PrimaryPropertyName"
               data-value="1"  asp-for="@Model.EntityRelationsList[entityRelation].PrimaryPropertyName"  placeholder="" />
        <label asp-for="@Model.EntityRelationsList[entityRelation].PrimaryPropertyName"></label>
    </div>
    <span asp-validation-for="@Model.EntityRelationsList[entityRelation].PrimaryPropertyName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <select disabled class="form-select" 
               data-name="EntityRelationsList"
               data-prefix="EntityRelationsList"
               data-suffix="SecondaryEntityPluralName"
                 asp-for="@Model.EntityRelationsList[entityRelation].SecondaryEntityPluralName"  asp-items="entities" >

        </select>
        <label asp-for="@Model.EntityRelationsList[entityRelation].SecondaryEntityPluralName"></label>
    </div>
    <span asp-validation-for="@Model.EntityRelationsList[entityRelation].SecondaryEntityPluralName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <select disabled class="form-select" 
               data-name="EntityRelationsList"
               data-prefix="EntityRelationsList"
               data-suffix="MiddleEntityPluralName"
                 asp-for="@Model.EntityRelationsList[entityRelation].MiddleEntityPluralName"  asp-items="entities" >

        </select>
        <label asp-for="@Model.EntityRelationsList[entityRelation].MiddleEntityPluralName"></label>
    </div>
    <span asp-validation-for="@Model.EntityRelationsList[entityRelation].MiddleEntityPluralName"></span>
</div>

                                         </div>

                                         }
                                     }  
                                 </div>

                                 <div class="sub-form-container" data-name="@("PropertyImageResizeInformationList")">
                                 <h3>@SharedEntitiesLocalizer.GetString("PropertyImageResizeInformation")</h3>
                                     @if (Model.PropertyImageResizeInformationList is not null)
                                     {
                                         for (int propertyImageResizeInformation = 0; propertyImageResizeInformation < Model.PropertyImageResizeInformationList.Count; propertyImageResizeInformation++)
                                         {

                                                string propertyImageResizeInformationDataName = "PropertyImageResizeInformationList" + "[" + propertyImageResizeInformation + "]";

                                         <div class="single-sub-form row g-5" data-name="@("PropertyImageResizeInformationList")">
                                                 <div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="PropertyImageResizeInformationList"
               data-prefix="PropertyImageResizeInformationList"
               data-suffix="Id"
                 asp-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].Id"  placeholder="" />
        <label asp-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].Id"></label>
    </div>
    <span asp-validation-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].Id"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="PropertyImageResizeInformationList"
               data-prefix="PropertyImageResizeInformationList"
               data-suffix="PropertyName"
               data-value="1"  asp-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].PropertyName"  placeholder="" />
        <label asp-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].PropertyName"></label>
    </div>
    <span asp-validation-for="@Model.PropertyImageResizeInformationList[propertyImageResizeInformation].PropertyName"></span>
</div>

                                         </div>

                                         }
                                     }  
                                 </div>

                                 <div class="sub-form-container" data-name="@("PropertySelectedLanguagesList")">
                                 <h3>@SharedEntitiesLocalizer.GetString("PropertySelectedLanguages")</h3>
                                     @if (Model.PropertySelectedLanguagesList is not null)
                                     {
                                         for (int propertySelectedLanguage = 0; propertySelectedLanguage < Model.PropertySelectedLanguagesList.Count; propertySelectedLanguage++)
                                         {

                                                string propertySelectedLanguageDataName = "PropertySelectedLanguagesList" + "[" + propertySelectedLanguage + "]";

                                         <div class="single-sub-form row g-5" data-name="@("PropertySelectedLanguagesList")">
                                                 <div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="PropertySelectedLanguagesList"
               data-prefix="PropertySelectedLanguagesList"
               data-suffix="Id"
                 asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].Id"  placeholder="" />
        <label asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].Id"></label>
    </div>
    <span asp-validation-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].Id"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input disabled class="form-control sub-form-input Hidden-input" 
               data-name="PropertySelectedLanguagesList"
               data-prefix="PropertySelectedLanguagesList"
               data-suffix="PropertyName"
               data-value="1"  asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].PropertyName"  placeholder="" />
        <label asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].PropertyName"></label>
    </div>
    <span asp-validation-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].PropertyName"></span>
</div>
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <select disabled class="form-select" 
               data-name="PropertySelectedLanguagesList"
               data-prefix="PropertySelectedLanguagesList"
               data-suffix="LanguageName"
                 asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageName"  asp-items="languages" >

        </select>
        <label asp-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageName"></label>
    </div>
    <span asp-validation-for="@Model.PropertySelectedLanguagesList[propertySelectedLanguage].LanguageName"></span>
</div>

                                         </div>

                                         }
                                     }  
                                 </div>

                    <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input disabled class="form-control" value="@Model.CreateDate.ToShamsi()" asp-for="@Model.CreateDate" type="text" placeholder="" />
                <label asp-for="@Model.CreateDate"></label>
            </div>
            <span asp-validation-for="@Model.CreateDate"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input disabled class="form-control" value="@Model.LatestEditDate.ToShamsi()" asp-for="@Model.LatestEditDate" type="text" placeholder="" />
                <label asp-for="@Model.LatestEditDate"></label>
            </div>
            <span asp-validation-for="@Model.LatestEditDate"></span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-floating">
                <input disabled class="form-control" asp-for="@Model.EditCounts" type="number" placeholder="" />
                <label asp-for="@Model.EditCounts"></label>
            </div>
            <span asp-validation-for="@Model.EditCounts"></span>
        </div>

    </div>
</form>

@section Scripts
{

	<script>
		$(document).ready(function (e) {
			$('.PropertiesManagement').addClass('active');
            $('.PropertiesManagement').addClass('show');
		});
	</script>
}
