@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.DTOs.Projects
@model CreateProjectEnumPropertySelectedLanguageDto
@{
	ViewData["Title"] = $@"{SharedLocalizer.GetString("Create New")} {SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguage")}";

    List<SelectListItem> languages = ViewData["Languages"] as List<SelectListItem>;    

}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">

        <li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="Home"
                                  asp-action="Index" 
                                   title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a></li>
<li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="ProjectEnumPropertySelectedLanguage"
                                  asp-action="Index" 

                                asp-route-projectEnumPropertyIdId="@Model.ProjectEnumPropertyId" title="@SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguages")">@SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguages")</a></li>

        <li class="breadcrumb-item active">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguage")</li>
    </ol>   
</nav>
<form class="mb-9" method="post" 
                            asp-area="Admin" asp-controller="ProjectEnumPropertySelectedLanguage" asp-action="Create"
                            enctype="multipart/form-data">

    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguage")</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                                <button class="btn btn-primary px-5 w-100 text-nowrap">@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguage")</button>
            </div>
        </div>
    </div>
    <div class="row g-5">

                <div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <select class="form-select"  asp-for="@Model.LanguageId"  asp-items="languages" >

        </select>
        <label asp-for="@Model.LanguageId"></label>
    </div>
    <span asp-validation-for="@Model.LanguageId"></span>
</div>
<input type="hidden" asp-for="@Model.ProjectEnumPropertyId" class=""
                       />
<div class="col-sm-12 col-md-6">
    <div class="form-floating">
        <input class="form-control Title-input"  asp-for="@Model.Title"  placeholder="" />
        <label asp-for="@Model.Title"></label>
    </div>
    <span asp-validation-for="@Model.Title"></span>
</div>

    </div>
</form>

@section Scripts
{
	<script src="/Shared/JqueryValidation.min.js"></script>
	<script>
		$(document).ready(function (e) {
			$('.ProjectEnumPropertySelectedLanguagesManagement').addClass('active');
            $('.ProjectEnumPropertySelectedLanguagesManagement').addClass('show');
		});
	</script>
}
