@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.DTOs.Generators
@model GenerateProjectDto
@{
    ViewData["Title"] = $@"{SharedLocalizer.GetString("Generate")} {SharedEntitiesLocalizer.GetString("Project")}";
}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">

        <li class="breadcrumb-item">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index"
               title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin"
               asp-controller="Entity"
               asp-action="Index"
               title="@SharedEntitiesLocalizer.GetString("Projects")">
                @SharedEntitiesLocalizer.GetString("Projects")
            </a>
        </li>

        <li class="breadcrumb-item active">@SharedLocalizer.GetString("Generate") @SharedEntitiesLocalizer.GetString("Project")</li>
    </ol>
</nav>
<form class="mb-9" method="post"
      asp-area="Admin" asp-controller="Generator" asp-action="GenerateProjectFiles"
      enctype="multipart/form-data">

    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">@SharedLocalizer.GetString("Generate") @SharedEntitiesLocalizer.GetString("Project")</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                <button class="btn btn-primary px-5 w-100 text-nowrap">@SharedLocalizer.GetString("Generate") @SharedEntitiesLocalizer.GetString("Project")</button>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <input type="hidden" asp-for="@Model.ProjectId" />
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input check-all-input" checked id="check-all" type="checkbox" />
                <label class="form-check-label fw-bold" for="check-all">@SharedLocalizer.GetString("Select All")</label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="OverrideFiles" type="checkbox" />
                <label asp-for="OverrideFiles" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateEntities" type="checkbox" />
                <label asp-for="GenerateEntities" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateDtos" type="checkbox" />
                <label asp-for="GenerateDtos" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateMediasInformation" type="checkbox" />
                <label asp-for="GenerateMediasInformation" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateMappers" type="checkbox" />
                <label asp-for="GenerateMappers" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateEnums" type="checkbox" />
                <label asp-for="GenerateEnums" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateServices" type="checkbox" />
                <label asp-for="GenerateServices" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateIServices" type="checkbox" />
                <label asp-for="GenerateIServices" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateResources" type="checkbox" />
                <label asp-for="GenerateResources" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="AddToDbContext" type="checkbox" />
                <label asp-for="AddToDbContext" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateWebControllers" type="checkbox" />
                <label asp-for="GenerateWebControllers" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateWebViews" type="checkbox" />
                <label asp-for="GenerateWebViews" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateApiControllers" type="checkbox" />
                <label asp-for="GenerateApiControllers" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateMenus" type="checkbox" />
                <label asp-for="GenerateMenus" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateViewResources" type="checkbox" />
                <label asp-for="GenerateViewResources" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateControllerResources" type="checkbox" />
                <label asp-for="GenerateControllerResources" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateSharedResources" type="checkbox" />
                <label asp-for="GenerateSharedResources" class="form-check-label fw-bold"></label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GenerateEnumsResources" type="checkbox" />
                <label asp-for="GenerateEnumsResources" class="form-check-label fw-bold"></label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" asp-for="GeneratePermissionsSeedData" type="checkbox" />
                <label asp-for="GeneratePermissionsSeedData" class="form-check-label fw-bold"></label>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="/Shared/JqueryValidation.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $('.ProjectsManagement').addClass('active');
            $('.ProjectsManagement').addClass('show');
        });
    </script>
}
