@using DevCopilot2.Web.Areas.Admin.Components;
@using DevCopilot2.Domain.DTOs.Common;
@using System.Text
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer

@model MenuItemDto
@{
    string id = $"nv-{Model.ControllerName}";
    StringBuilder innerItemsClasses = new StringBuilder();
    if (string.IsNullOrEmpty(Model.FolderName))
        Model.FolderName = $"{Model.ControllerName}sManagement";
    foreach (var item in Model.InnerItems ?? new List<MenuItemDto>())
    {
        if (string.IsNullOrEmpty(item.FolderName))
            item.FolderName = $"{item.ControllerName}sManagement";
        innerItemsClasses.Append($"{item.FolderName} ");
    }
}
@if (string.IsNullOrEmpty(Model.VerticalIconName))
    Model.VerticalIconName = "pie-chart";
@if (string.IsNullOrEmpty(Model.PluralTitle))
    Model.PluralTitle = Model.Title;
@if (Model.InnerItems is not null && Model.InnerItems.Any())
{
    <li class="nav-item">
        <!-- parent pages-->
        <div class="nav-item-wrapper">
            <a class="nav-link dropdown-indicator label-1 @innerItemsClasses.ToString()" href="@($"#{id}")"
               role="button" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="@id">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon">
                        <span data-feather="@Model.VerticalIconName"></span>
                    </span><span class="nav-link-text">@SharedEntitiesLocalizer.GetString(Model.PluralTitle)</span>
                </div>
            </a>
            <div class="parent-wrapper label-1">
                <ul class="nav collapse parent @innerItemsClasses.ToString()" data-bs-parent="#navbarVerticalCollapse" id="@id">
                    <li class="collapsed-nav-item-title d-none">@SharedEntitiesLocalizer.GetString(Model.PluralTitle)</li>
                    @if (Model.InnerItems is not null)
                    {
                        foreach (var item in Model.InnerItems)
                        {
                            @if (string.IsNullOrEmpty(item.PluralTitle))
                                item.PluralTitle = item.Title;
                            <li class="nav-item">
                                <a class="nav-link @($"{item.FolderName}") @(!item.Enabled?"disabled":"")"
                                   asp-area="Admin" asp-controller="@item.ControllerName"
                                   asp-action="@item.ActionName" asp-all-route-data="@item.RouteData">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">@SharedEntitiesLocalizer.GetString(item.PluralTitle)</span></div>
                                </a>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </li>
}
else
{
    <div class="nav-item-wrapper">
        <a class="nav-link label-1 @($"{Model.FolderName}") @(!Model.Enabled?"disabled":"")" asp-area="Admin" asp-controller="@Model.ControllerName"
           asp-action="@Model.ActionName" asp-all-route-data="@Model.RouteData" role="button" data-bs-toggle="" aria-expanded="false">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="@Model.VerticalIconName"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">@SharedEntitiesLocalizer.GetString(Model.PluralTitle)</span></span></div>
        </a>
    </div>
}