@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<EntitiesSharedResources> SharedEntitiesLocalizer
@using System
@using System.ComponentModel.DataAnnotations
@using DevCopilot2.Domain.DTOs.Languages
@model FilterLanguagesDto
@{
    ViewData["Title"] = $"{SharedEntitiesLocalizer.GetString("Languages")}";
}

<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a asp-area="Admin"
                                  asp-controller="Home"
                                  asp-action="Index" 
                                   title="@SharedLocalizer.GetString("Admin")">@SharedLocalizer.GetString("Admin")</a></li>

        <li class="breadcrumb-item active">@SharedEntitiesLocalizer.GetString("Languages")</li>
    </ol>   
</nav>
<div class="mb-9">
  <div class="row g-3 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">@SharedEntitiesLocalizer.GetString("Languages")</h2>
    </div>
  </div>
  <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
    <li class="nav-item">
      <p class="nav-link disable-nav-link" aria-current="page" href="#"><span>@SharedLocalizer.GetString("All") </span><span
          class="text-body-tertiary fw-semibold">(@Model.AllEntitiesCount.ToString("#,0"))</span></p>
    </li>
    <li>
      <a class="btn btn-primary" id="addBtn" 
                            asp-area="Admin" asp-controller="Language" asp-action="Create"
                            >
        <span class="fas fa-plus me-2"></span>@SharedLocalizer.GetString("Create New") @SharedEntitiesLocalizer.GetString("Language")
      </a>
    </li>
  </ul>
  <div id="products">
    <form class="mb-4 filter-form FilterForm" method="get" 
                            asp-area="Admin" asp-controller="Language" asp-action="Index">
      <div class="d-flex flex-wrap gap-3">
        <div class="search-box">
          <div class="position-relative">

                <input type="hidden" asp-for="@Model.PageId" name="PageId" id="PageId" />
            <input class="form-control search-input search" type="search" 
            placeholder="@SharedLocalizer.GetString("Search")" aria-label="Search" asp-for="@Model.Search" name="Search" />
            <span class="fas fa-search search-box-icon"></span>
          </div>
        </div>
        <div class="scrollbar overflow-hidden-y">
          <div class="btn-group position-static" role="group">

<div class="ml-input">
    <input class="form-control2 search-input search persian-date-picker" 
           type="text" asp-for="@Model.FromDate"  placeholder="@SharedLocalizer.GetString("From Date")" aria-label="Search" name="FromDate" 
           id="FromDate" dir="ltr">
</div>

<div class="ml-input">
    <input class="form-control2 search-input search persian-date-picker" 
           type="text" asp-for="@Model.ToDate" placeholder="@SharedLocalizer.GetString("To Date")" aria-label="Search" name="ToDate" 
           id="ToDate" dir="ltr">
</div>

                        <div class="ml-input">
                            <select class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" asp-for="@Model.BaseSortEntityType" name="BaseSortEntityType"
        >

                            @foreach (BaseSortEntityType baseSortEntityType in (BaseSortEntityType[])Enum.GetValues(typeof(BaseSortEntityType)))
                            {
                                <option value="@baseSortEntityType">@baseSortEntityType.GetEnumName()</option>
                            }
                            </select>
                        </div>

                        <div class="ml-input">
                            <select class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" asp-for="@Model.SortType" name="SortType"
        >

                            @foreach (SortType sortType in (SortType[])Enum.GetValues(typeof(SortType)))
                            {
                                <option value="@sortType">@sortType.GetEnumName()</option>
                            }
                            </select>
                        </div>

          </div>
        </div>
      </div>
      <div class="ms-xxl-auto">
        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="submit" style="margin-top: 5px;">
          @SharedLocalizer.GetString("Search")
        </button>

        <a class="btn btn-link text-body me-4 px-0 export-btn" 
                            asp-area="Admin" asp-controller="Language" asp-action="ExportExcel">
          <span class="fa-solid fa-file-export fs-9 me-2"></span>Excel
        </a>
      </div>
    </form>
  </div>
  <div
    class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
  </div>
</div>

                   @if (Model.Languages.Any())
                   {
                     <div class="table-responsive scrollbar mx-n1 px-1">
      <table class="table fs-9 mb-0">
        <thead>

                    <tr>
                    <th class="" scope="col">@Localizer.GetString("Name")</th>
<th class="" scope="col">@Localizer.GetString("Culture")</th>
<th class="" scope="col">@Localizer.GetString("DefaultPluralSuffix")</th><th class="" scope="col">@SharedLocalizer.GetString("CreateDate")</th>
<th class="" scope="col">@SharedLocalizer.GetString("LatestEditDate")</th>
<th class="" scope="col">@SharedLocalizer.GetString("EditCounts")</th>
                    <th class="" scope="col">@SharedLocalizer.GetString("Operation")</th>
                    </tr>
        </thead>
        <tbody class="list" id="table-body">
          <tr class="position-static">

                            @foreach (
            LanguageListDto language in Model.Languages)
                            {

                                <tr>

                                <td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.Name</span>
</td>
<td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.Culture</span>
</td>
<td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.DefaultPluralSuffix</span>
</td>
<td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.CreateDate.ToShamsi()</span>
</td>
<td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.LatestEditDate.ToShamsi()</span>
</td>
<td class="product align-middle ps-4">
    <span class="fw-semibold line-clamp-3 mb-0">@language.EditCounts.ToString()</span>
</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="Language" asp-action="Update"
                                           asp-route-id="@language.Id" class="btn btn-sm btn-info me-1 mb-1 mb-md-0 update-btn">@SharedLocalizer.GetString("Update")</a>
                                         <a asp-area="Admin" asp-controller="Language" asp-action="Detail"
                                           asp-route-id="@language.Id" class="btn btn-sm btn-blue detail-btn me-1 mb-1 mb-md-0">@SharedLocalizer.GetString("Detail")</a>
                                        <a asp-area="Admin" asp-controller="Language" asp-action="Delete"
                                           asp-route-id="@language.Id" class="btn btn-sm btn-danger me-1 mb-1 mb-md-0 delete-btn">@SharedLocalizer.GetString("Delete")</a>
                                        <a asp-area="Admin" asp-controller="ProjectEnumPropertySelectedLanguage" asp-action="Index"
                                           asp-route-languageId="@language.Id" class="btn btn-sm btn-info me-1 mb-1 mb-md-0 relation-btn">@SharedEntitiesLocalizer.GetString("ProjectEnumPropertySelectedLanguages")</a>
<a asp-area="Admin" asp-controller="ProjectSelectedLanguage" asp-action="Index"
                                           asp-route-languageId="@language.Id" class="btn btn-sm btn-info me-1 mb-1 mb-md-0 relation-btn">@SharedEntitiesLocalizer.GetString("ProjectSelectedLanguages")</a>
<a asp-area="Admin" asp-controller="EntitySelectedLanguage" asp-action="Index"
                                           asp-route-languageId="@language.Id" class="btn btn-sm btn-info me-1 mb-1 mb-md-0 relation-btn">@SharedEntitiesLocalizer.GetString("EntitySelectedLanguages")</a>
<a asp-area="Admin" asp-controller="PropertySelectedLanguage" asp-action="Index"
                                           asp-route-languageId="@language.Id" class="btn btn-sm btn-info me-1 mb-1 mb-md-0 relation-btn">@SharedEntitiesLocalizer.GetString("PropertySelectedLanguages")</a>
                                        </td>

                                </tr>
                            }

          </tr>
        </tbody>
      </table>
    </div>
    <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
                   }

                   else
                   {
                    <div class="alert alert-info">@SharedLocalizer.GetString("No Items Found!")</div>
                   }

@section Scripts
{

	<script>
		$(document).ready(function (e) {
			$('.LanguagesManagement').addClass('active');
            $('.LanguagesManagement').addClass('show');
		});
	</script>
}
